<head>
    <meta charset="UTF-8">
    <title>
        {{page.title}}
  </title>
    <meta content="width=device-width, initial-scale=1" name="viewport" id="viewport">
    </meta>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    </meta>
    <meta content="width=device-width, initial-scale=1" name="viewport" id="viewport">
    </meta>
    <meta content="index, follow" name="ROBOTS">
    <link rel="stylesheet" href="assets/vendor/ui-icon/css/style.css"/>
    <link rel="stylesheet" href="assets/vendor/ap8/css/style.css"/>
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/vendor/highlight/styles/github.css"/>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/vendor/jquery/jquery.2.1.1.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/highlight/highlight.pack.js"></script>

</head>