---
layout: default
title: Blog
permalink: /icons/
---
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1 class="page-heading">Products</h1>
<ul class="post-list">
	{% for product in site.data.icons %}
		<span>{{product[1].name}}</span>
		<ul>
		    {% for item in product[1].list %}
		    	<li>Title: {{ item.name }}</li>
		    {% endfor %}
		</ul>
	{% endfor %}  
	
</ul>

<script>

	$.getJSON("/data/icons.json", function(result){
		
	    console.log(result);
	    var data=result;
	    var list=data.others.list;

      	console.log(data.others.name);
      	console.log(data.others.list);
      	for (var i = 0; i < list.length; i++) {
      		console.log(i);
      	}
	  });
</script>